    <div class="col-md-3">
        <div class="card course-card shadow-sm border-0">
            <img src="{{this.cover_url}}" class="card-img-top" alt="Web Development">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text text-muted">{{this.students_count}} học sinh</p>
                <p class="mt-2 fw-bold text-primary">{{this.price}} $</p>
                <p class="mt-2 fw-bold text-primary">{{this.rating_avg}} điểm</p>
                <p class="text-muted">Ngày đăng: {{ this.created_at }}</p>

            </div>
        </div>
    </div>