<!-- Bộ lọc -->
<section class="container mx-auto px-4 mt-6 items-center">
  <form method="get">
    <label for="sort" class="mr-2 font-semibold">Sắp xếp theo:</label>
    <select name="sort" id="sort" class="border px-3 py-2 rounded-lg" onchange="this.form.submit()">
      <option value="rating" {{#if (eq sort "rating")}}selected{{/if}}>Điểm đánh giá giảm dần</option>
      <option value="price" {{#if (eq sort "price")}}selected{{/if}}>Giá tăng dần</option>
      <option value="create_at" {{#if (eq sort "create_at")}}selected{{/if}}>Ngày đăng mới nhất</option>
      <option value="students_count" {{#if (eq sort "students_count")}}selected{{/if}}>Bán chạy</option>
    </select>
  </form>
</section>

<!-- Danh sách khóa học -->
<div class="container mx-auto px-4">
    {{#if keyword}}
        <h2 class="text-2xl font-bold mb-4 mt-6">Kết quả tìm kiếm cho "{{keyword}}"</h2>
        <div class="row g-4">
            {{#each courses}}
                {{> cardCourses}}
            {{/each}}
        </div>
    {{else}}
        <div class="row g-4">
            {{#each courses}}
                {{> cardCourses}}
            {{/each}}
        </div>
    {{/if}}
</div>
<!-- Phân trang -->
<div class="row">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>

            {{#each page_numbers}}
            {{#if isCurrent}}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0);">{{value}}</a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="?page={{value}}&sort={{../sort}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}


            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>

        </ul>
    </nav>

</div>
<!-- Featured Newest Section -->
<section class="container mx-auto px-4 mt-10">
    <h2 class="text-2xl font-bold mb-4">Khóa học mới nhất</h2>
    <div class="row g-4">
        {{#each featured_newest}}
            {{> cardCourses}}
        {{/each}}
    </div>
</section>
<!-- Featured Bestsellers Section -->
<section class="container mx-auto px-4 mt-10 mb-10">
    <h2 class="text-2xl font-bold mb-4">Khóa học bán chạy nhất</h2>
    <div class="row g-4">
        {{#each featured_bestseller}}
            {{> cardCourses}}
        {{/each}}
    </div>
</section>
    