<div class="container mt-4">
  <h2 class="mb-4 text-center">Course List</h2>

  {{#if empty}}
    <p class="text-center text-muted">No courses available in this category.</p>
  {{else}}
  <div class="row">
    {{#each courses}}
    <div class="col-md-4 mb-4">
      <a href="/courses/details?id={{id}}" class="course-card-link text-decoration-none text-reset">
        <div class="card h-100 shadow-sm border-0 card-hover">
          <img src="{{image}}" class="card-img-top grid-fixed-img" alt="{{title}}">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="text-muted small mb-1">{{category_name}} </p>
            <p class="text-muted small mb-1">Instructor: {{teacher_name}}</p>
            <p class="small mb-2">⭐ {{rating}} ({{rating_count}} Rating)</p>
            <p class="fw-bold mb-0">
              {{#if promo_price}}
                <span class="text-danger">{{promo_price}}₫</span>
                <del class="text-muted ms-2">{{price}}₫</del>
              {{else}}
                <span>{{price}}₫</span>
              {{/if}}
            </p>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

  <!-- Phân trang -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {{#if prevPage}}
      <li class="page-item"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
      {{/if}}
      {{#each pageNumbers}}
      <li class="page-item {{#if isActive}}active{{/if}}">
        <a class="page-link" href="?page={{value}}">{{value}}</a>
      </li>
      {{/each}}
      {{#if nextPage}}
      <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
      {{/if}}
    </ul>
  </nav>
  {{/if}}
</div>
